# Google Sheets - preencha com os dados do service_account.json
GOOGLE_CLIENT_EMAIL=gdados@project-34f443f1-80d4-441b-879.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# ID da planilha (extrair da URL: https://docs.google.com/spreadsheets/d/{SPREADSHEET_ID}/edit)
SPREADSHEET_ID=seu_spreadsheet_id_aqui
